body{
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
}

#maincontainer {
    margin-left: 5%;
    margin-right: 5%;
}

li, p {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

a {
    text-decoration: none; 
}

img {
    width: 50%;
    height: 50%;
}

ul {
    padding-left: 1.2em;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #222222;
      color: #eee;
    }
    a {
      text-decoration: none;
    }
  }
  